@use "colors";

button {
    cursor: pointer;
    border-radius: 0.25rem;
    border: 0;
    color: colors.$foreground;
    background-color: colors.$primary;

    &:active {
        transform: translate(0, 1px);
    }
}

button.variant-filled {
    background-color: colors.$primary;

    &:hover {
        background-color: darken(colors.$primary, 7.5%);
    }
}

button.variant-outline {
    background-color: transparent;
    border: 1px solid colors.$primary;
    color: colors.$primary;

    &:hover {
        background-color: colors.$primary-light-outline-hover;
        color: colors.$primary;
    }
}

button.variant-light {
    background-color: colors.$primary-light;
    color: colors.$primary;

    &:hover {
        background-color: colors.$primary-light-hover;
        color: colors.$primary;
    }
}

button.variant-subtle {
    background-color: transparent;
    color: colors.$primary;

    &:hover {
        background-color: colors.$primary-light;
        color: colors.$primary;
    }
}