@use "sass:color";

$background-light: #f8f9fa;
$background-light-card: #fff;

$primary: #46c7c0;
$foreground: #fff;

$primary-light: color.adjust($primary, $alpha: -0.9);
$primary-light-hover: color.adjust($primary, $alpha: -0.85);
$primary-light-outline-hover: color.adjust($primary, $alpha: -0.95);

$typo-code: #f8f9fa;