@use "colors";
@use "sass:color";

.card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.0625rem 0.1875rem, rgba(0, 0, 0, 0.05) 0px 0.625rem 0.9375rem -0.3125rem, rgba(0, 0, 0, 0.04) 0px 0.4375rem 0.4375rem -0.3125rem;
    background-color: colors.$background-light-card;

    &.border {
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &.hover-tilt:hover {
        transform: translateY(-0.25rem);
    }
}

.grid {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: auto auto auto;
	padding: 1rem;
}

.space {
    display: inline-block;
}